<div class="lookbox">
    <div class="looktop">
        <!-- <div class="top-tabs">
      <div class="top-item" *ngFor="let stage of getStageList" (click)="nowStage=stage"
      [class.active]="nowStage === stage"
         >
          {{ stage }}
      </div>
    </div>
    <div class="con-tabs">
      <div class="time-item" *ngFor="let time of getTimeList"
      (click)="nowTime=time;Date(time) "
      [class.active]="nowTime === time "
      >
          {{ time }}
      </div>
    </div>
    <div class="bot-tabs">
        <div class="group-item" *ngFor="let group of getGroupList">
            {{ group }}
        </div>
    </div> -->
        <ngb-tabset class="top-tabs">
            <ngb-tab [title]="i.name" *ngFor='let i of iframeList' >
                <ng-template ngbTabContent  >
                    <!-- <ngb-tab [title]="l.time" ></ngb-tab> -->
                    <ngb-tabset >
                        <ngb-tab [title]="l.stage" *ngFor='let l of i.stages'>
                            <ng-template ngbTabContent>
                                <ngb-tabset >
                                    <ngb-tab [title]="l.time" *ngFor='let l of l.times'>
                                        <ng-template ngbTabContent>
                                            <ngb-tabset >
                                                <ngb-tab [title]="l.group" *ngFor='let l of l.groups'>
                                                    <ng-template ngbTabContent>

                                                    </ng-template>
                                                </ngb-tab>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>


</div>

<div class="con">
    <div class="con-table" *ngIf='teamList.length!==0'>
       
    </div>
    <div class="con-conent" *ngIf='teamList.length===0'>敬请期待</div>
</div>
    
</div>
