<div class="container iframe-body">
    <div class="add-iframe">
        <input [(ngModel)]="iframeName" placeholder="全英文iframe名称">
        <button type="button" class="btn btn-primary btn-sm"
            (click)="open(add, it)">添加iframe</button>
        <ng-template #add let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">添加iframe</h4>
                <button type="button" class="close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <jhi-tree-line (outer)="runParent($event)" [name]="iframeName"></jhi-tree-line>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="modal.close('Save click')" (click)="addIframe()">Save</button>
            </div>
        </ng-template>
    </div>
    <div class="iframe-tab">
        <ngb-tabset type="pills">
            <ngb-tab *ngFor="let item of iframeList" [title]="item.iframe">
                <ng-template ngbTabContent>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>iframe名称</th>
                                <th>阶段</th>
                                <th>时间</th>
                                <th>小组</th>
                                <th>是否为默认项</th>
                                <th>赛事id</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let it of item.data">
                                <td>{{ it.name }}</td>
                                <td>{{ it.stage }}</td>
                                <td>{{ it.time }}</td>
                                <td>{{ it.group }}</td>
                                <td>{{ it.flag? 'true' : 'false' }}</td>
                                <td>{{ it.raceId }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="delIframe(it.id, it.name)">删除</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="open(content, it)">修改</button>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="defaultIframe(it)">设为默认项</button>
                                    <ng-template #content let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">修改iframe</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="name" class="control-label">iframe名称</label>
                                                    <input class="form-control" name="name" placeholder="iframe名称" [(ngModel)]="updateName">
                                                </div>
                                                <div class="form-group">
                                                    <label for="stage" class="control-label">阶段</label>
                                                    <input class="form-control" name="stage" placeholder="阶段" [(ngModel)]="updateStage">
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="control-label">时间</label>
                                                    <input class="form-control" name="time" placeholder="时间" [(ngModel)]="updateTime">
                                                </div>
                                                <div class="form-group">
                                                    <label for="group" class="control-label">小组</label>
                                                    <input class="form-control" name="group" placeholder="小组" [(ngModel)]="updateGroup">
                                                </div>
                                                <div class="form-group">
                                                    <label for="raceid" class="control-label">赛事id</label>
                                                    <input class="form-control" name="raceid" placeholder="赛事id" [(ngModel)]="updateRaceId">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                (click)="modal.close('Save click')" (click)="updateIframe(it)">Save</button>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>